html,body{height:100%}
*{margin: 0;padding: 0;}
html{font-size: 13.33333vw;}
body{display: flex;flex-direction: column;}

.header{height:1.04rem;position: relative;}
	.header .icon-arrowLeft{

		opacity:1;
		display: block;
		margin-top:0.32rem;
		margin-left:0.24rem ;
		font-size: 0.4rem;
		float: left;
	}
	.header b{}
	.content p{
		font-size: 0.48rem;
		color: #313131;
		margin-left: 0.33rem;
	}

	
	.input #e86{
		width: o.84rem;
		height: 0.45rem;
		font-size: 0.4rem;
		margin-top: 0.9rem;
		margin-left: 0.31rem;
		border: 0;
		outline: none;
		 
	}

	.input #tel{
		height: 0.45rem;
		width: 5rem;
		font-size:0.4rem;
		border:0;
	}
	.input{
		width: 6.92rem;
		height: 1.7rem;
		border-bottom: solid 1px lightgray;
		margin-left: 0.31rem;
	}
	
	#code{
		height: 0.45rem;
		width: 4rem;
		font-size:0.4rem;
		border:0;
		margin-top: 0.97rem;
		margin-left: 0.31rem;
	}
	 #canvas{
            float:right;
            display: inline-block;
            border:0;
           
            cursor: pointer;
       		margin-top: 0.8rem;
       		
        }
        .box{
        	
        	
        	border-radius: 10px;
        	
        	background: #E98B71;
        	text-align: center;
        	line-height:1.04rem ;
        	font-size:0.4rem ;
        	color: #ffffff;
        }
        .qwe{width: 7.02rem;
        	height: 1.04rem;
        	margin-left: 0.24rem;
        	margin-top: 0.56rem;
       	}